*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 20px;
    background:  #8093F1;
    color: white;
}
.container {

width: 100%;
height: 100vh;
display: flex;
position: relative;
justify-content: center;
align-items: center;
}

.content{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-input {
    width: 65%;
    max-width:600px ;
}

.login-input p {
display: flex;
flex-direction: column;
width: 100%;
}
.login-input p label {
    padding-bottom: 5px;
}

.login-input p input {
    height: 30px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 18px;
    color: black;
    font-family: "Quicksand";
}

.login-input p input::placeholder{
     color: darkgrey;
}

.login-input p button {
    width: 100%;
    height: 35px;
    background: #8093F1;
    color: white;
    border-radius: 18px;
    border: none;
    font-family: "Quicksand";
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.7px;
    cursor: pointer;
}

.login-input p button:hover {
    opacity: 0.7;         
}

.login-img {
    visibility: hidden;
}

a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 1000px) {
    .login-img {
        visibility: visible;
        border-radius: 0 18px 18px 0;
        width: 100%;
        height: 100%;
        background-image: url("https://cdn141.picsart.com/309256231011211.png?type=webp&to=min&r=640");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .login-input{
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login-input p {
        width: 70%;
        margin: 10px 0;
    } 
    .content {
        width: 50%;
        background: #EF767A;
        height: 60%;
        flex-direction: row;
        border-radius: 18px;
        box-shadow:0px 0px 26px -5px rgba(0,0,0,0.62);
    }
    html, body {
        background: #8093F1;
    }
    .login-input p:last-child button {
        width: 100%
    }
}